[Desktop Entry]
Name=Instagram
Comment=Instagram Web App
Exec=google-chrome-stable --app=https://www.instagram.com/zimin.dev/ --window-size=1024,768
Terminal=false
Type=Application
Icon=/home/domino/app/icons/instagram.svg
Categories=Network;SocialNetworking;
StartupNotify=true
